@import "@/assets/styles/main.scss";
.situation2 {
  @include flexCenter;
  align-items: flex-end;
  justify-content: space-between;
  padding-right: 2rem;
  .search {
    background-image: linear-gradient(to bottom, #efe9e5, #ded9c8);
    box-shadow: inset 0 1px 0 #ffffff, 0 0.5rem 0.5rem $shadow-color;
    border-radius: 1rem;
    width: 80%;
    padding: 1rem 2rem;
    margin-top: 3rem;
    @include flexCenter;
    justify-content: space-between;
    &-box {
      padding: 1.5rem 2rem;
      font-size: 2rem;
      background-color: $light-colorbg;
      border-radius: 1rem;
      box-shadow: inset 0px 0rem 0.8rem $shadow-color;
      width: 80%;
    }
    &-icon {
      @include sz(5.5rem);
      border-radius: 50%;
      box-shadow: 0 0.4rem 0.4rem $shadow-color;
      @include flexCenter;
      cursor: pointer;
      .icon {
        font-size: 3rem;
        color: $icon-color;
      }
    }
  }
  .doubleData{
    .searching{
      font-size: 2rem;
      color: $txt-darkcolor;
      span{
        font-size: 2.2rem;
      }
    }
    .data {
      font-size: 2rem;
      align-self: flex-end;
      padding-bottom: 1rem;
      color: $txt-darkcolor;
      position: relative;
      .line {
        position: absolute;
        bottom: 0;
        @include sz(100%, 0.2rem);
      }
      span {
        font-size: 2.2rem;
      }
    }
  }
  
  @media (max-width: 768px) {
    flex-direction: column;
    padding-right: initial;
    .search {
      width: 100%;
    }
    .data {
      margin-top: 2rem;
      align-self: stretch;
      border-bottom: none;
      padding-bottom: 0;
      .line {
        @include sz(65%, 0.2rem);
        right: 0;
        bottom: initial;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}
