@import "@/assets/styles/main.scss";
.situation {
  @include flexCenter;
  justify-content: space-between;
  .gowhere {
    position: relative;
    // opacity: 0;
    label {
      font-size: 2.4rem;
      color: $txt-darkcolor;
    }
    #selectCity {
      font-size: 2.4rem;
      color: $txt-darkcolor;
      padding: 1rem 5.5rem 1rem 2.5rem;
      margin-left: 2rem;
      border-radius: 1rem;
      box-shadow: inset 0 1px 0 #ffffff, 0 0.5rem 0.5rem $shadow-color;
      border: none;
      background-color: $light-colorbg;
      appearance: none;
      &:focus-visible {
        outline: none;
      }
    }
    .icon {
      position: relative;
      top: 50%;
      right: 3rem;
      font-size: 2rem;
      color: $icon-color;
    }
  }
  .gocategory {
    @include flexCenter;
    margin-right: 3rem;
    .card + .card {
      margin-left: 1rem;
    }
    .card {
      font-size: 2.2rem;
      color: #ffffff;
      border-radius: 2rem;
      padding: 1rem 1.5rem;
      opacity: 0.5;
      border: none;
      &:hover{
        width: initial;
      }
    }
    @for $i from 1 through 4 {
      .card {
        &:nth-of-type(#{$i}) {
          background-color: nth($btn-colors, $i);
          // &:hover {
          //   opacity: 1;
          //   box-shadow: 0.3rem 0.3rem 0.6rem nth($btn-colors, $i);
          // }
          &.active {
            opacity: 1;
            box-shadow: 0.3rem 0.3rem 0.6rem nth($btn-colors, $i);
          }
        }
      }
    }
  }
  @media(max-width: 768px){
    flex-direction: column;
    .gowhere{
      @include flexCenter;
      #selectCity {
        font-size: 2.2rem;
      }
    }
    .gocategory{
      margin-right: initial;
      margin-top: 1.5rem;
      .card{
        font-size: 2rem;
        padding: 1rem;
      }
    }
  }
}
