.restaurant {
  @include sz(100%, 100vh);
  background-color: $light-colorbg;
  padding: 8rem 0 7rem;
  &-container {
    max-width: 120rem;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #efe9e5, #ded9c8);
    margin: 3rem auto 0;
    border-radius: 2rem;
    box-shadow: 0 0 1rem $shadow-color;
    padding: 2.5rem 10rem;
    overflow: hidden;
    .situation3{
      box-shadow: inset 0 .3rem 0 #ffffff, 0 0.5rem 0.5rem $shadow-color;
      width: 100%;
      height: calc(100% - 16.5vh);
      margin-top: 3rem;
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
      padding-top: 0.3rem;
      overflow-y: scroll;
    }
  }
}
