$txt-color: #C5C0AF;
$txt-darkcolor: #707070;
$light-colorbg: #E1DED0;
$shadow-color: #B0A18F;
$icon-color:#B89B89;
$btn-colors: #89B6D5, #E36E5F, #B4BD92, #EECB83;

@mixin sz($w:$w, $h:$w) {
  width: $w;
  height: $h;
}
@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: Microsoft Yahei;
  &::-webkit-scrollbar{
    display: none;
  }
}
html{
  font-size: 10px;
}
input{
  outline: none;
  background-color: transparent;
  border: none;
}